/.vs/CommonCompare/DesignTimeBuild/.dtbcache.v2
/.vs/CommonCompare/FileContentIndex/aa79438f-4746-4ee6-a514-e4c3fbfd5406.vsidx
/.vs/CommonCompare/FileContentIndex/read.lock
/.vs/CommonCompare/v17/.futdcache.v2
/.vs/CommonCompare/v17/.suo
/.vs/ProjectEvaluation/commoncompare.metadata.v5.2
/.vs/ProjectEvaluation/commoncompare.projects.v5.2
/Base/bin/Debug/netcoreapp3.1/Base.deps.json
/Base/bin/Debug/netcoreapp3.1/Base.dll
/Base/bin/Debug/netcoreapp3.1/Base.pdb
/Base/bin/Debug/netcoreapp3.1/ExcelDataReader.DataSet.dll
/Base/bin/Debug/netcoreapp3.1/ExcelDataReader.DataSet.pdb
/Base/bin/Debug/netcoreapp3.1/ExcelDataReader.dll
/Base/bin/Debug/netcoreapp3.1/ExcelDataReader.pdb
/Base/obj/Base.csproj.nuget.dgspec.json
/Base/obj/Base.csproj.nuget.g.props
/Base/obj/Base.csproj.nuget.g.targets
/Base/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Base/obj/Debug/netcoreapp3.1/Base.AssemblyInfo.cs
/Base/obj/Debug/netcoreapp3.1/Base.AssemblyInfoInputs.cache
/Base/obj/Debug/netcoreapp3.1/Base.GeneratedMSBuildEditorConfig.editorconfig
/Base/obj/Debug/netcoreapp3.1/Base.assets.cache
/Base/obj/Debug/netcoreapp3.1/Base.csproj.AssemblyReference.cache
/Base/obj/Debug/netcoreapp3.1/Base.csproj.BuildWithSkipAnalyzers
/Base/obj/Debug/netcoreapp3.1/Base.csproj.CopyComplete
/Base/obj/Debug/netcoreapp3.1/Base.csproj.CoreCompileInputs.cache
/Base/obj/Debug/netcoreapp3.1/Base.csproj.FileListAbsolute.txt
/Base/obj/Debug/netcoreapp3.1/Base.dll
/Base/obj/Debug/netcoreapp3.1/Base.pdb
/Base/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
/Base/obj/project.assets.json
/Base/obj/project.nuget.cache
/CommonCompare/bin/Debug/netcoreapp3.1/Base.dll
/CommonCompare/bin/Debug/netcoreapp3.1/Base.pdb
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.deps.json
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.dll
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.exe
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.pdb
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.runtimeconfig.dev.json
/CommonCompare/bin/Debug/netcoreapp3.1/CommonCompare.runtimeconfig.json
/CommonCompare/bin/Debug/netcoreapp3.1/ExcelDataReader.DataSet.dll
/CommonCompare/bin/Debug/netcoreapp3.1/ExcelDataReader.DataSet.pdb
/CommonCompare/bin/Debug/netcoreapp3.1/ExcelDataReader.dll
/CommonCompare/bin/Debug/netcoreapp3.1/ExcelDataReader.pdb
/CommonCompare/bin/Debug/netcoreapp3.1/src/out.csv
/CommonCompare/obj/CommonCompare.csproj.nuget.dgspec.json
/CommonCompare/obj/CommonCompare.csproj.nuget.g.props
/CommonCompare/obj/CommonCompare.csproj.nuget.g.targets
/CommonCompare/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.AssemblyInfo.cs
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.AssemblyInfoInputs.cache
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.GeneratedMSBuildEditorConfig.editorconfig
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.assets.cache
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.csproj.AssemblyReference.cache
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.csproj.BuildWithSkipAnalyzers
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.csproj.CopyComplete
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.csproj.CoreCompileInputs.cache
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.csproj.FileListAbsolute.txt
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.dll
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.genruntimeconfig.cache
/CommonCompare/obj/Debug/netcoreapp3.1/CommonCompare.pdb
/CommonCompare/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
/CommonCompare/obj/Debug/netcoreapp3.1/apphost.exe
/CommonCompare/obj/project.assets.json
/CommonCompare/obj/project.nuget.cache
